<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listing Course</title>
</head>
<body>
    <h1>OLE</h1>
    <form action="/list" method="POST">
    <div>
        <h2>My Course</h2>
        <% for (var c of course) { %>
            <label><a href="/course?_id=<%= c._id %>"><%= course.course_id %> <%= course.course_name %></a>
            </label>
            <% } %>
    </form>
    </div>
    <p><a href='/logout'>Logout</a></p>
</body>
</html>